.SF_POSTCONTENT > * 
{
  margin-block-start: 0;
  margin-block-end: 0;
}

.SF_POSTCONTENT > * + * 
{
  margin-block-start: var(--biggerSizeREM);
}

.SF_POSTCONTENT .katex-display 
{
  display: block;
  margin-block-start: var(--biggerSizeREM);
  margin-block-end: var(--baseSizeREM);
}

.SF_POSTCONTENT p > .katex-display 
{
    margin-block-start: 0;
    margin-block-end: 0;
}
.SF_POSTCONTENT p:has(> .katex-display) 
{
    margin-block: 0; 
}

.SF_POSTCONTENT h1,
.SF_POSTCONTENT h2,
.SF_POSTCONTENT h3,
.SF_POSTCONTENT h4 
{
  margin-block-start: var(--bigSizeREM);
  margin-block-end: var(--smallSizeREM);
  scroll-margin-top: var(--biggestSizeREM);
}

.SF_POSTCONTENT h1 + *,
.SF_POSTCONTENT h2 + *,
.SF_POSTCONTENT h3 + *,
.SF_POSTCONTENT h4 + * 
{
  margin-block-start: var(--smallSizeREM);
}

.SF_POSTCONTENT p + h1,
.SF_POSTCONTENT p + h2,
.SF_POSTCONTENT p + h3,
.SF_POSTCONTENT p + h4,
.SF_POSTCONTENT ul + h1,
.SF_POSTCONTENT ul + h2,
.SF_POSTCONTENT ul + h3,
.SF_POSTCONTENT ul + h4,
.SF_POSTCONTENT ol + h1,
.SF_POSTCONTENT ol + h2,
.SF_POSTCONTENT ol + h3,
.SF_POSTCONTENT ol + h4,
.SF_POSTCONTENT pre + h1,
.SF_POSTCONTENT pre + h2,
.SF_POSTCONTENT pre + h3,
.SF_POSTCONTENT pre + h4,
.SF_POSTCONTENT blockquote + h1,
.SF_POSTCONTENT blockquote + h2,
.SF_POSTCONTENT blockquote + h3,
.SF_POSTCONTENT blockquote + h4 
{
  margin-block-start: var(--bigSizeREM);
}

.SF_POSTCONTENT pre 
{
 margin-block-start: var(--bigSizeREM);
 margin-block-end: var(--baseSizeREM);
}

.SF_POSTCONTENT h1 + pre,
.SF_POSTCONTENT h2 + pre,
.SF_POSTCONTENT h3 + pre,
.SF_POSTCONTENT h4 + pre 
{
 margin-block-start: var(--baseSizeREM);
}

.SF_POSTCONTENT ul,
.SF_POSTCONTENT ol,
.SF_POSTCONTENT blockquote 
{
 margin-block-start: var(--baseSizeREM);
 margin-block-end: var(--baseSizeREM);
}

.SF_POSTCONTENT p + ul,
.SF_POSTCONTENT p + ol,
.SF_POSTCONTENT p + blockquote 
{
  margin-block-start: var(--baseSizeREM);
}