[build]
  # Tell Netlify to serve the public/ output folder.
  publish = "public"
  # Run hugo with gc and minified assets.
  command = "node scripts/fetch-apod.js && hugo --gc --minify"

[build.environment]
  HUGO_VERSION = "0.136.5"

[[headers]]
  for = "/fonts/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
  for = "/giscus/*"
  [headers.values]
    Access-Control-Allow-Origin = "https://giscus.app"
    Access-Control-Allow-Methods = "GET, OPTIONS"
    Access-Control-Allow-Headers = "Access-Control-Request-Private-Network"
    Access-Control-Allow-Private-Network = "true"

[[redirects]]
  from   = "http://*"
  to     = "https://siddharths.space/:splat"
  status = 301
  force  = true

[[redirects]]
  from   = "https://www.siddharths.space/*"
  to     = "https://siddharths.space/:splat"
  status = 301
  force  = true

[functions]
  directory    = "netlify/functions"
  node_bundler = "esbuild"

[functions."trigger-build"]
  schedule = "@daily"

[dev]
  command = "hugo server -w -p 1313" 
  targetPort = 1313
  port = 8888
  publish = "public"
  # framework = "#hugo"
