{{- $type := .Params.type | default "text" -}}

{{- $resolvedTitle := .Title -}}
{{- $resolvedSummary := .Params.summary -}}
{{- $apod := dict -}}
{{- $rest := "" -}}

{{- if and (eq $type "showcase") (not (isset .Params "paintings")) -}}
  {{- $apod = site.Data.apod -}}
  {{- with $apod.explanation }}
    {{- $plain := . | plainify -}}
    {{- $parts := split $plain ". " -}}
    {{- if ge (len $parts) 2 }}
      {{- $resolvedTitle = printf "Space Showcase: NASA APOD - %s" $apod.title -}}
      {{- $resolvedSummary = printf "%s." (index $parts 0) -}}
      {{- $rest = delimit (after 1 $parts) ". " | printf "%s." -}}
    {{- else }}
      {{- $resolvedSummary = . }}
    {{- end }}
  {{- end }}
{{- end }}

<div class="SF_STREAM_ITEM SF_STREAM_GENERIC_BLOCK LP_LEFT_SEPARATOR">
  <div class="SF_STREAM_SUMMARY_CONTENT_WRAP">
    <h3 class="SF_STREAM_GENERIC_TITLE">{{ $resolvedTitle }}</h3>
    {{- with $resolvedSummary }}
      <div class="SF_STREAM_GENERIC_HOOK">
        {{ . | markdownify }}
      </div>
    {{- end }}
  </div>

  <div class="SF_STREAM_GENERIC_CONTENT SF_POSTCONTENT">
    {{- if eq $type "showcase" -}}

    {{- if isset .Params "paintings" -}}
      {{ partial "components/stream/specifics/streamArtistContent.html" . }}
    {{- else -}}
      {{- $icon := resources.Get "icons/nasa-icon.svg" | resources.Fingerprint -}}
      {{- $caption := printf "**Courtesy:** %s &middot; *%s*" (or $apod.copyright "NASA") $apod.date -}}
      {{- $mediaType := $apod.media_type | default "image" | lower -}}
      {{- if eq $mediaType "other" -}}
        {{- $mediaType = "video" -}}
      {{- end -}}
      {{- $videoUrl := "" -}}
      {{- $imgPath := "" -}}
      {{- if eq $mediaType "video" -}}
        {{- $videoUrl = $apod.url -}}
        {{- with $apod.thumbnail_url -}}
          {{- $imgPath = . -}}
        {{- end -}}
      {{- else -}}
        {{- $imgSource := or $apod.url $apod.hdurl -}}
        {{- $imgFilename := path.Base $imgSource -}}
        {{- $imgPath = printf "/images/apod/%s" $imgFilename -}}
      {{- end -}}
    
      {{- $data := dict
          "paintings"  nil
          "image"      $imgPath
          "imageWebp"  ""         
          "width"      0
          "height"     0
          "caption"    $caption
          "content"    $rest
          "iconUrl"    $icon.RelPermalink
          "isAPOD"     true
          "mediaType"  $mediaType
          "videoUrl"   $videoUrl
      -}}
      {{ partial "components/stream/specifics/streamSpaceContent.html" $data }}
    {{- end }}
  
    {{- else if eq $type "theorem" -}}
      {{ partial "components/stream/generics/streamGenericTextContent.html" . }}
    {{- else if eq $type "bookshelf" -}}
      {{ partial "components/stream/generics/streamGenericBookshelfContent.html" . }}
    {{- else -}}
      {{ errorf "Unsupported block type: %s" $type }}
    {{- end }}
  </div>
</div>


