{{/* layouts/partials/sections/projectsSection.html */}}
<div class="LP_LEFT_SEPARATOR">
  <div class="LP_STACK LP_STACK_INTER_BIG">
    {{ range .Pages.ByWeight }}
    <article class="SF_PROJECT" {{ with .Params.thumbnail }} style="--bg-image: url('{{ . | absURL }}');" {{ end }}>
        <a href="{{ .RelPermalink }}" class="SF_PROJECT_LINK_WRAPPER">

          <h3>{{ .Title }}</h3>

          {{ with .Params.description }}
            <p>{{ . | markdownify }}</p>
          {{ else }}
            {{ with .Summary }} <p>{{ . }}</p> {{ end }}
          {{ end }}

          {{ $hasMeta := or .Params.status .Params.stacks .Params.repo .Params.live }}
          {{ if $hasMeta }}
            <div class="SF_PROJECT_META LP_CLUSTER LP_CLUSTER_ALIGN_CENTER LP_CLUSTER_GAP_SMALL">

              {{ with .Params.status }}
                <span class="SF_METADATA_TAG SF_METADATA_TAG--status SF_METADATA_TAG--{{ . | urlize }}">{{ . }}</span>
              {{ end }}

              {{ with .Params.stacks }}
                {{ range . }}
                  {{ $termName := . }}
                  {{ $assumedUrl := printf "/%s/%s/" "stacks" ($termName | urlize) }}
                  <a href="{{ $assumedUrl | relLangURL }}" class="SF_METADATA_TAG SF_METADATA_TAG--stack" onclick="event.stopPropagation();">{{ $termName }}</a>
                {{ end }}
              {{ end }}

              {{ with .Params.repo }}

                <a href="{{ . }}" class="SF_METADATA_TAG SF_METADATA_TAG--link" target="_blank" rel="noopener noreferrer" onclick="event.stopPropagation();">Repository</a>
              {{ end }}
              {{ with .Params.live }}

                <a href="{{ . }}" class="SF_METADATA_TAG SF_METADATA_TAG--link" target="_blank" rel="noopener noreferrer" onclick="event.stopPropagation();">Live Site</a>
              {{ end }}

            </div>
          {{ end }}

        </a>
      </article>
    {{ else }}
      <p>No projects listed yet.</p>
    {{ end }} 
  </div> 
</div> 