<div class="LP_STACK LP_STACK_INTER_BIGGER stream-page-spacing-end">

  {{ $streamItems := where site.Pages "Section" "stream" }}

  {{ range $streamItems }}
    {{ $page := . }}
    {{ $parentDir := path.Base $page.File.Dir }}
    {{ if in (slice "artists" "bookshelf") $parentDir }}
      {{ partial "components/stream/generics/streamGenericBlock.html" $page }}
    {{ end }}
  {{ end }}

  {{ partial "components/stream/generics/streamGenericBlock.html" (dict
    "Title" "Space Showcase: NASA APOD"
    "Params" (dict
      "type" "showcase"
      "summary" "Astronomy Picture of the Day"
    )
    "Content" ""
  ) }}

</div>
