{{ define "sectionContent" }}

<section class="LP_LEFT_SEPARATOR"> 
  <div class="LP_STACK LP_STACK_INTER_BASE LP_STACK_EDGEMARGIN_BASE LP_STACK_EDGEMARGIN_NOTOPEDGE"> 
    <h1>{{ .Title | upper }}</h1>
    <div class="SF_PAGE_DESCRIPTION">
      {{ with .Content }}{{ . }}{{ end }}
    </div> 
  </div>
</section>

{{ if eq .Section "writings"}}
  {{ partial "sections/writingsSection.html" . }}
{{ else if eq .Section "projects" }}
  {{ partial "sections/projectsSection.html" . }}
{{ else if eq .Section "notes" }}
  {{ partial "sections/notesSection.html" . }}
{{ end }}

{{ end }}

