{{ define "sectionContent" }}

<div class="LP_STACK LP_STACK_INTER_SMALL" style="margin-bottom: 50px;">
  <h1 class="page-title">{{ .Title }}</h1>

  {{ with .Content }}
  <div class="section-intro-container">
    <div class="section-intro">
      {{ . }}
    </div>
  </div>
  {{ end }}
</div>

{{/* --- SECTION SPECIFIC PARTIALS --- */}}

{{ if eq .Section "writings"}}
{{ partial "sections/writingsSection.html" . }}
{{ else if eq .Section "projects" }}
{{ partial "sections/projectsSection.html" . }}
{{ else if eq .Section "notes" }}
{{ partial "sections/notesSection.html" . }}
{{ else if eq .Section "colophon" }}
{{ partial "sections/colophonSection.html" . }}
{{ else if eq .Section "stream" }}
{{ partial "sections/streamSection.html" . }}
{{ end }}

{{ end }}