{{ define "pageContent" }}
{{ if in (slice "writings" "notes" "projects" "nyx") .Section }}
<section class="SF_SINGLE_HEADER">
  <div class="LP_STACK LP_STACK_INTER_BIGGEST">
    <h1>{{ .Title }}</h1>

    {{ if and (not .IsHome) (ne .Section "nyx") }}
    {{ partial "partials/components/metadata.html" . }}
    {{ end }}
  </div>
</section>

{{ partial "partials/pages/genericPageContent.html" . }}

{{ if eq .Section "writings" }}
<section class="SF_COMMENTS_WRAPPER">
  {{ partial "partials/components/comments.html" . }}
</section>
{{ end }}

{{ else if eq .RelPermalink "/about/" }}
<section class="SF_SINGLE_HEADER">
  <div class="LP_STACK LP_STACK_INTER_BIG">
    <h1>{{ .Title }}</h1>
    <div class="SF_PAGE_DESCRIPTION">
      {{- if isset .Params "subtitle" -}}
      {{ .Params.subtitle | markdownify }}
      {{- else -}}
      {{ .Params.summary | markdownify }}
      {{- end -}}
    </div>
  </div>
</section>

<section>
  <div class="LP_STACK LP_STACK_INTER_BASE SF_POSTCONTENT">
    {{ .Content | markdownify }}
  </div>
</section>

{{ else if eq .RelPermalink "/now/" }}
<section class="SF_SINGLE_HEADER">
  <div class="LP_STACK LP_STACK_INTER_BIG">
    <h1>{{ .Title }}</h1>
    <div class="SF_PAGE_DESCRIPTION">
      {{- if isset .Params "subtitle" -}}
      {{ .Params.subtitle | markdownify }}
      {{- else -}}
      {{ .Params.summary | markdownify }}
      {{- end -}}
    </div>
  </div>
</section>

<section>
  <div class="LP_STACK LP_STACK_INTER_BASE SF_POSTCONTENT">
    {{ .Content | markdownify }}
  </div>
</section>

{{ else }}
<section class="LP_LEFT_SEPARATOR">
  <div class="LP_STACK LP_STACK_INTER_BIG">
    <h1>{{ .Title | upper }}</h1>
    <div class="SF_PAGE_DESCRIPTION">
      {{- if isset .Params "subtitle" -}}
      {{ .Params.subtitle | markdownify }}
      {{- else -}}
      {{ .Params.summary | markdownify }}
      {{- end -}}
    </div>
  </div>
</section>

<section class="LP_LEFT_SEPARATOR">
  <div class="SF_POSTCONTENT">
    {{ .Content | markdownify }}
  </div>
</section>
{{ end }}

{{ end }}
