{{ define "pageContent" }}
  {{ if in (slice "writings" "notes" "projects") .Section }}
    <section class="LP_LEFT_SEPARATOR">
      <div class="LP_STACK LP_STACK_INTER_BASE">
        <h1>{{ .Title }}</h1>
      
        {{ if not .IsHome }}
          {{ partial "partials/components/metadata.html" . }}
        {{ end }}
      </div>
    </section>
    {{ partial "partials/pages/genericPageContent.html" . }}
  {{ else }}
    <section class="LP_LEFT_SEPARATOR">
      <div class="LP_STACK LP_STACK_INTER_BIG">
        <h1>{{ .Title | upper }}</h1>
        <div class="SF_PAGE_DESCRIPTION">
          {{- if isset .Params "subtitle" -}}
            {{ .Params.subtitle | markdownify }}
          {{- else -}}
            {{ .Params.summary | markdownify }}
          {{- end -}}
        </div>
      </div>
    </section>
    
    <section class="LP_LEFT_SEPARATOR">
      <div class="SF_POSTCONTENT">
        {{ .Content | markdownify }}
      </div>
    </section>
  {{ end }}

{{ end }}
