{{ if eq .Section "notes" }}
<div class="SF_TOC_CONTAINER is-collapsed">
  <div class="SF_TOC_STRIP" tabindex="0" role="button" aria-expanded="false" aria-controls="TableOfContents">
    <span class="SF_TOC_CURRENT_SECTION"></span>
  </div>
  <nav id="TableOfContents" class="SF_TOC" aria-label="Table of Contents"></nav>
</div>

<div class="LP_STACK LP_STACK_INTER_BASE SF_POSTCONTENT">
  {{ .Content }}
</div>

{{ else }}
{{/* Fallback layout */}}
<div class="LP_STACK LP_STACK_INTER_BIGGER">
  <section>
    <div class="SF_POSTCONTENT">
      {{ .Content }}
    </div>
  </section>
</div>
{{ end }}