{{ if gt .Paginator.TotalPages 1 }}
  <div style="display: flex; justify-content: center;">
    <nav class="LP_CLUSTER LP_CLUSTER_ALIGN_CENTER LP_CLUSTER_GAP_SMALL" aria-label="Pagination">
      
      {{ if .Paginator.HasPrev }}
        <a href="{{ .Paginator.First.URL }}" aria-label="First page">««</a>
        <a href="{{ .Paginator.Prev.URL }}" aria-label="Previous page">«</a>
      {{ end }}

      {{ $current := .Paginator }}
      {{ range $pager := .Paginator.Pagers }}
        {{ if eq $pager $current }}
          <a style="opacity: 0.6;" aria-current="page">{{ $pager.PageNumber }}</span>
        {{ else }}
          <a href="{{ $pager.URL }}">{{ $pager.PageNumber }}</a>
        {{ end }}
      {{ end }}

      {{ if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}" aria-label="Next page">»</a>
        <a href="{{ .Paginator.Last.URL }}" aria-label="Last page">»»</a>
      {{ end }}

    </nav>
  </div>
{{ end }}
