<details class="SF_STREAM_ITEM SF_STREAM_SHELF_BLOCK">
  <summary class="SF_STREAM_SHELF_SUMMARY">
    <div class="SF_STREAM_SUMMARY_CONTENT_WRAP">
      <h3 class="SF_STREAM_SHELF_TITLE">On the Shelf</h3>
      <div class="SF_STREAM_SHELF_HOOK">
        <span style="color: var(--mutedTextColor); font-size: var(--smallSizeREM); font-style: normal;">Currently Reading: Calculus Volume I - Tom M. Apostol</span>
      </div>
    </div>
    <div class="SF_STREAM_INDICATOR"></div>
  </summary>
  <div class="SF_STREAM_EXPANDED_CONTENT_WRAPPER SF_STREAM_SHELF_CONTENT">
    <div class="SF_STREAM_SHELF_ROW_LIST">
      <div class="SF_STREAM_SHELF_GRID_ROW" data-status="reading">
        <span class="SF_STREAM_SHELF_GRID_TITLE"><a href="#">Calculus Volume I</a></span>
        <span class="SF_STREAM_SHELF_GRID_AUTHOR">Tom M. Apostol</span>
        <span class="SF_STREAM_SHELF_GRID_STATUS">Reading</span>
      </div>
      <div class="SF_STREAM_SHELF_GRID_ROW" data-status="reading">
        <span class="SF_STREAM_SHELF_GRID_TITLE"><a href="#">Algebra: Notes from the Underground</a></span>
        <span class="SF_STREAM_SHELF_GRID_AUTHOR">Paolo Aluffi</span>
        <span class="SF_STREAM_SHELF_GRID_STATUS">Reading</span>
      </div>
      <div class="SF_STREAM_SHELF_GRID_ROW" data-status="reading">
        <span class="SF_STREAM_SHELF_GRID_TITLE"><a href="#">Classical Mechanics</a></span>
        <span class="SF_STREAM_SHELF_GRID_AUTHOR">John R. Taylor</span>
        <span class="SF_STREAM_SHELF_GRID_STATUS">Reading</span>
      </div>
      <div class="SF_STREAM_SHELF_GRID_ROW" data-status="finished">
        <span class="SF_STREAM_SHELF_GRID_TITLE"><a href="#">Project Hail Mary</a></span>
        <span class="SF_STREAM_SHELF_GRID_AUTHOR">Andy Weir</span>
        <span class="SF_STREAM_SHELF_GRID_STATUS">Finished</span>
      </div>
      <div class="SF_STREAM_SHELF_GRID_ROW" data-status="finished">
        <span class="SF_STREAM_SHELF_GRID_TITLE"><a href="#">Saga, Vol. 1</a></span>
        <span class="SF_STREAM_SHELF_GRID_AUTHOR">B. K. Vaughan, F. Staples</span>
        <span class="SF_STREAM_SHELF_GRID_STATUS">Finished</span>
      </div>
      <div class="SF_STREAM_SHELF_GRID_ROW" data-status="finished">
        <span class="SF_STREAM_SHELF_GRID_TITLE"><a href="#">A Memory Called Empire</a></span>
        <span class="SF_STREAM_SHELF_GRID_AUTHOR">Arkady Martine</span>
        <span class="SF_STREAM_SHELF_GRID_STATUS">Finished</span>
      </div>
    </div>
    <div class="SF_STREAM_SHELF_FOOTER">
      <a href="/shelf/" class="SF_STREAM_SHELF_VIEWALL">View Full Bookshelf &rarr;</a>
    </div>
  </div>
</details>